body {
  font-family: Etna;
  background: #4682B4;
}

.register {
  position: relative;
  max-width: 415px;
  width: 100%;
  background: #F8F8FF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 28px;
}

h1{
  color: black;
  font-size: 30px;
  margin-bottom: 38px;
}

.field {
  margin-bottom: 13px;
}

input {
  height: 50px;
  width: 93.5%;
  color: #474747;
  font-size: 16px;
  border: 2px solid #708090;
  padding-left: 25px;
}

button{
  display:block;
  height: 40px;
  width: 385px;
  background: #4682B4;  
  border-color: #FFFAFA;
  color: #FFFAFA;
  font-size: 18px;
  text-align: center;
  line-height: 45px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 38px;
  max-width: 415px;
  width: 100%;
}

button:hover {
  background-color: #1E90FF;
}